/task_1/.idea/
/task_1/CMakeLists.txt
/task_1/cmake-build-debug/
/task_2/.idea/
/task_2/cmake-build-debug/
/task_2/CMakeLists.txt
/task_3/.idea/
/task_3/cmake-build-debug/
/task_3/CMakeLists.txt
/task_4/.idea/
/task_4/cmake-build-debug/
/task_4/CMakeLists.txt
/task_5/.idea/
/task_5/cmake-build-debug/
/task_5/CMakeLists.txt
/programming_technology/.idea/
/programming_technology/cmake-build-debug/
/programming_technology/CMakeLists.txt
.directory
.idea
